canvas {
  border: 1px solid black;
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
 
}


#score {
  font-size: 30px;
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#fleche {
  font-size: 20px; 
  position: absolute;
  top: 780px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

